.rk-form-group {
  margin-bottom: 16px;
}

.rk-form-group label {
  display: block;
  margin-bottom: var(--rk-space-4);
  font-size: var(--rk-font-sm);
  font-weight: var(--rk-font-semibold);
  color: var(--rk-mening-950);
}

.rk-form-group .rk-help-text {
  display: block;
  margin-top: var(--rk-space-4);
  font-size: var(--rk-font-xs);
  color: var(--rk-mening-700);
}

.rk-form-group .rk-help-text--error {
  color: #dc2626;
}
