.rk-select {
  display: block;
  width: 100%;
  padding: var(--rk-space-3) var(--rk-space-4);
  border-radius: var(--rk-radius-sm);
  border: 1px solid var(--rk-mening-600);
  font-size: var(--rk-font-base);
  color: var(--rk-mening-950);
  background-color: var(--rk-mening-50);
  box-sizing: border-box;
  cursor: pointer;
}

.rk-select:focus {
  outline: none;
  border-color: var(--rk-color-primary);
}