h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--rk-font-family-heading);
  font-weight: var(--rk-font-semibold);
  color: var(--rk-mening-950);
  margin: 0;
}

h1 {
  font-size: var(--rk-h1);
  line-height: 44px;
}
h2 {
  font-size: var(--rk-h2);
  line-height: 38px;
}
h3 {
  font-size: var(--rk-h3);
  line-height: 32px;
}
h4 {
  font-size: var(--rk-h4);
  line-height: 28px;
}
h5 {
  font-size: var(--rk-h5);
  line-height: 24px;
}
h6 {
  font-size: var(--rk-h6);
  line-height: 20px;
}
